{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title">
                <h2>Your Home Environment</h2>
            </div> <!-- /.section -->
        </div> <!-- /.row -->

        <h1>hello</h1>
        <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.content-section -->


{% endblock %}